<p>register works!</p>
<div class="register-container">
    <h1>Register</h1>
    <form [formGroup]="registerForm" #registerFormElement>
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="userName">
            <mat-error *ngIf="!this.registerForm.value.userName">This field is <strong>required</strong></mat-error>
            <!-- <mat-error *ngIf="registerForm.controls['userName'].errors['required']">Name is <strong>required</strong></mat-error> -->
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address">
            <mat-error *ngIf="!this.registerForm.value.address.valid">This field is <strong>required</strong></mat-error>
            <!-- <mat-error *ngIf="registerForm.controls['address'].errors['required']">address is <strong>required</strong></mat-error> -->
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="!this.registerForm.value.email.valid">This field is <strong>required</strong></mat-error>
            
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" >
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!-- <mat-error *ngIf="registerForm.controls['password'].errors['required']">Password is <strong>required</strong></mat-error> -->
            <mat-error *ngIf="!this.registerForm.value.password.valid">This field is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field [formGroup]="courseForm" *ngIf="isLecturer">
            <mat-label>Course</mat-label>
            <input matInput type="text" formControlName="course">
            <mat-error *ngIf="!this.courseForm.value.course.valid">This field is <strong>required</strong></mat-error>
            <!-- <mat-error *ngIf="registerForm.controls['course'].errors['required']">course is <strong>required</strong></mat-error> -->
        </mat-form-field>

        <button type="submit" (click)="onSubmit()" class="btn btn-primary"
            [disabled]="registerForm.invalid">submit</button>
        <p class="mt-3">
            Already have an account?
            <br>
        </p>
        <section>
            <a mat-button (click)="onBackClick()" routerLink="user/login">Login here.</a>
            <a mat-button (click)="onChangeIsLecturer()">IsLecturer?</a>
        </section>


        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
</div>

























<!-- @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) { -->
            <!-- <mat-error *ngIf="registerForm.hasError('email') && !registerForm.hasError('required')">Please enter a valid email address</mat-error> -->
            <!-- <mat-error *ngIf="registerForm.hasError('email')">Please enter a valid email address</mat-error> -->

            <!-- <mat-error *ngIf="registerForm.controls['email'].errors['email'] ">Please enter a valid email address</mat-error> -->

            <!-- loginForm.controls['username'].errors['required'] && !loginForm.controls['username'].errors['minLength'] -->
            <!-- } -->
            <!-- @if (emailFormControl.hasError('required')) { -->
            <!-- <mat-error *ngIf="registerForm.hasError('required')">Email is <strong>required</strong></mat-error> -->
            <!-- <mat-error *ngIf="registerForm?.controls['email']?.errors['required']">Email is <strong>required</strong></mat-error> -->
            <!-- } -->